{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Assignment{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header bg-white">
                <h4 class="mb-0">
                    <i class="fas fa-tasks me-2 text-primary"></i>
                    Create Assignment for {{ course.name }}
                </h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary px-4">
                            <i class="fas fa-save me-2"></i>Create Assignment
                        </button>
                        <a href="{% url 'course_detail' course.id %}" class="btn btn-outline-secondary ms-2">
                            <i class="fas fa-times me-2"></i>Cancel
                        </a>
                    </div>
                </form>
            </div>
 </div>
 </div>
 </div>
{% endblock %}